<h1>Project - 2</h1> 
<h2><u>Aim : Sentiment Analysis</u></h2>
<h3><u> D A T A S C I E N C E &nbsp I N T E R N S H I P</u></h3> 
<h3><u> Basic ANalysis About the DataSet </u></h3>

<h3><u>That File Contain UTF-8 now convert into ByteCode</u></h3>

In [3]:
import chardet
import pandas as pd

with open('test.csv' , 'rb') as f:
    result= chardet.detect(f.read())
data  = pd.read_csv('test.csv' , encoding=result['encoding'])

In [4]:
data.head(3)

,textID,text,sentiment,Time of Tweet,Age of User,Country,Population -2020,Land Area (Km²),Density (P/Km²)
0,f87dea47db,Last session of the day http://twitpic.com/67ezh,neutral,morning,0-20,Afghanistan,38928346,652860.0,60
1,96d74cb729,Shanghai is also really exciting (precisely -...,positive,noon,21-30,Albania,2877797,27400.0,105
2,eee518ae67,"Recession hit Veronique Branquinho, she has to...",negative,night,31-45,Algeria,43851044,2381740.0,18

<h3><u>Dimension of the our Dataset</u></h3>

In [5]:
print("Total Dimension : -- " , data.shape)

Total Dimension : --  (3534, 9)

In [6]:
print(f"Total Number Of Row's : {data.shape[0]}" )

Total Number Of Row's : 3534

In [7]:
print(f"Total NUmber Of Column : {data.shape[1]}")

Total NUmber Of Column : 9

<h3><u>Total Value Counts</u></h3>
<h4><li>Age group </li></h4>

In [8]:
data["Age of User"].value_counts()

0-20      590
21-30     590
31-45     590
46-60     588
60-70     588
70-100    588
Name: Age of User, dtype: int64

<h4><li>Country</li></h4>

In [9]:
data["Country"].value_counts()

Afghanistan      20
Ecuador          20
China            20
Colombia         20
Comoros          20
                 ..
Guinea-Bissau    16
Guinea           16
Guatemala        16
Grenada          16
Greece           16
Name: Country, Length: 195, dtype: int64

<h4><li>Time Of Tweet</li></h4>

In [10]:
data["Time of Tweet"].value_counts()

morning    1178
noon       1178
night      1178
Name: Time of Tweet, dtype: int64